html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/bg.jpg);
}

.container {
	width: 1000px;
	margin: auto;
}

#subscribe {
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 14px; /*absolutely hacky way to get it to be more centered*/
	text-transform: uppercase;
	letter-spacing: 1px;
	position: absolute;
	left: 700px;
	top: 35px;

}

#subdot {
	color:white;
	font-size:20px;
	position:absolute;
	left: 815px;
	top: 30px;
}

#dotline {
	height: 50px;
	width: 0px;
	border-left: 6px dotted white;
	padding-top: 5px;
}

/*#subscribebar span {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

fix this to make it less hacky overall*/

#subscribebar ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style: none;
	color: rgba(255, 255, 255, 0.5);
}

#subscribebar li {
	margin-left: 10px;
	font-size: 30px;
}

#facebookicon1 {
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	background-color: rgb(56, 77, 145);
	box-shadow: 0px 5px rgb(133, 133, 133);
}

#rssicon1 {
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	background-color: rgb(208, 129, 4);
	box-shadow: 0px 5px rgb(133, 133, 133);
}

#twittericon1 {
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	background-color: rgb(87, 130, 197);
	box-shadow: 0px 5px rgb(133, 133, 133);
}

#youtubeicon1 {
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	background-color: rgb(185, 36, 32);
	box-shadow: 0px 5px rgb(133, 133, 133);
}

#navbar ul {
	display: flex;
	justify-content: center;
}

#navbar li {
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
	height: 55px;
	width: 250px;
	line-height: 55px;
	background: rgb(188, 12, 34);
	box-shadow: 0px 5px rgb(133, 133, 133);
	text-transform: uppercase;
	letter-spacing: 1px;
}

#navbar li::before {
	content: "\002d";
	margin-right: 3px;
}

#navbar li::after {
	content: "\002d";
	margin-left: 3px;
	font-style: bolder;
}

#boardersnews {
	margin-left: 12px;
}

#boarddesign {
	margin-left: 12px;
}

#contactnews {
	margin-left: 12px;
}

#top-image {
	height: 350px;
	width: 1000px;
	background: url(assets/grid.png), url(assets/top-image.png);
	background-size: 1000px;
	background-position: 35% 25%;
	position: relative;
	border: 5px solid white;
}
	
#peralta-logo {
	position: absolute;
	object-fit: fill;
	top: 201px;
	left: 163px;
}

#articles  {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 280px;
	min-width: 280px;
	margin-top: 15px;
}

#article1 {
	margin-right: 15px;
}

#article2 {
	margin-right: 15px;
}

article {
	background: white;
	box-shadow: 0px 5px rgb(133, 133, 133);
	padding: 10px;
}

.headline {
	font-style: bold;
	font-size: 25px;
}

.date {
	opacity: .3;
}

.articletext {
	opacity: .7;
	position: relative;
}

#articlelink1 {
	font-size: 15px;
	color: rgb(188, 47, 51);
	letter-spacing: 1px;
	position: absolute;
	top: 782px;
	left: 259px;
}

#articlelink2 {
	font-size: 15px;
	color: rgb(188, 47, 51);
	letter-spacing: 1px;
	position: absolute;
	top: 782px;
	left: 610px;
}

#articlelink3 {
	font-size: 15px;
	color: rgb(188, 47, 51);
	letter-spacing: 1px;
	position: absolute;
	top: 782px;
	left: 953px;
}

#boarderpics {
	overflow: auto;
	width: 1000px;
	margin-top: 15px;
}

.bderpic {
	width: 318px;
	height: 250px;
	background: black;
	border: 3px solid white;
	float: left;
	background-repeat: no-repeat;
	box-shadow: 0px 5px rgb(133, 133, 133);
}

/*pure semantics that the third pic is wider*/

.bderpic:nth-of-type(3) {
	width: 651px;
}

/*fourth pic is taller*/

.bderpic:nth-of-type(4) {
	height: 515px;
	margin-top: -265px;
}

/*now we get into the individual contents of the images*/

#boarderpic1 {
	background-image: url(assets/sk8er-4.png);
	background-position: 105% 25%;
	background-size: cover;
	margin-right: 15px;
	margin-bottom: 15px;
}

#boarderpic2 {
	background-image: url(assets/sk8er-3.png);
	background-position: -12% 25%;
	background-size: cover;
	margin-right: 15px;
	margin-bottom: 15px;
}

#boarderpic3 {
	background-image: url(assets/sk8er-1.png);
	background-position: -3% 25%;
	background-size: cover;
	margin-right: 15px;
}

#boarderpic4 {
	background-image: url(assets/sk8er-2.png);
	background-position: 78% 25%;
	background-size: cover;
}

/*moving the text around onto the skaters*/

.pictext {
	font-family: Helvetica, Arial, sans-serif;
	color: white;
	font-size: 35px;
	text-align: center;
}

#bderpic1text {
	padding-top: 63px;
}

#bderpic2text {
	padding-top: 63px;
}

#bderpic3text {
	padding-top: 63px;
}

#bderpic4text {
	padding-top: 200px;
}