html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(assets/bg.jpg);
}

#subscribe {
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 14px; /*absolutely hacky way to get it to be more centered*/
	padding-right: 15px;
	position: absolute;
	left: 65%;
	top: 4%;
}

#subdot {
	color:white;
	font-size:20px;
	position:absolute;
	left:71%;
	top:3.3%;
}

/*#subscribe::after {
	content: "\2022";
	color: white;
	font-size: 28px;
	padding-left: 15px;
}*/

#dotline {
	height: 50px;
	width: 0px;
	border-left: 6px dotted white;
	padding-top: 5px;
}

#subscribebar ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style: none;
	color: rgba(255,255,255,0.5)
}

#subscribebar li {
	margin: 0px 10px;
	font-size: 30px;
}

#facebookicon1 {
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	background-color: rgb(56, 77, 145);
	box-shadow: 0px 5px rgb(133,133,133);
}

#rssicon1 {
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	background-color: rgb(208, 129, 4);
	box-shadow: 0px 5px rgb(133,133,133);
}

#twittericon1 {
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	background-color: rgb(87, 130, 197);
	box-shadow: 0px 5px rgb(133,133,133);
}

#youtubeicon1 {
	width: 55px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	background-color: rgb(185, 36, 32);
	box-shadow: 0px 5px rgb(133,133,133);
}